![](http://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/EscPolitecnica/EscUpmPolit_p.gif "UPM")

# Course Notes for Learning Intelligent Systems

Department of Telematic Engineering Systems, Universidad Politécnica de Madrid, © 2015 Carlos A. Iglesias

# Built-in Types: Sequences

**Sequences** are ordered collections of elements. The basic built-int sequence types are **lists**, **tuples** and **range** objets. There other sequence types for text strings (str, Strings) or binary data.

Sequences can be mutable or inmutable, if their value can be changed or not, respectively.
* **lists** are mutable ordered sequences of values
* **tuples** are inmutable ordered sequences of values
* **ranges** are  immutable sequences of numbers

## 1. Lists

In [137]:
l = [1, 2, 3, 4, 5, 6]

In [138]:
l

[1, 2, 3, 4, 5, 6]

In [139]:
l[0:3] # we can use slicing in sequence types

[1, 2, 3]

In [140]:
other_list = [1, 0.0, "hola"] #lists can have elements of different types

In [141]:
other_list

[1, 0.0, 'hola']

In [142]:
l + other_list # we can add lists (append)

[1, 2, 3, 4, 5, 6, 1, 0.0, 'hola']

In [143]:
l * 3 # we can add n times a list

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [144]:
len(l) # length of a list (as Strings)

6

In [145]:
l.append(7) #append at the end of the list. Check help with Shift-tab, and methods with tab

In [146]:
l

[1, 2, 3, 4, 5, 6, 7]

In [147]:
l.pop() # remove last element

7

In [148]:
l

[1, 2, 3, 4, 5, 6]

In [149]:
l.pop(2) # remove element at index 2

3

In [150]:
l

[1, 2, 4, 5, 6]

In [151]:
l.insert(2,3) # insert at index 2 the value 3

In [152]:
l

[1, 2, 3, 4, 5, 6]

In [153]:
l.reverse()

In [154]:
l

[6, 5, 4, 3, 2, 1]

In [155]:
l.sort()

In [156]:
l

[1, 2, 3, 4, 5, 6]

In [157]:
l.remove(3) # remove first ocurrence of 3 from l. Remember: remove (element) vs pop(index)

In [158]:
l

[1, 2, 4, 5, 6]

In [159]:
l[0] = 0 # lists are mutable

In [160]:
l

[0, 2, 4, 5, 6]

In [161]:
2 in l # check if an element is in a list

True

In [162]:
7 in l # check if an element is in a list

False

In [163]:
4 not in l # check if an element is not in a list

False

In [164]:
l.index(4) # search for an item

2

In [165]:
l.index(-1) # search for an item, error since it is not in the list

ValueError: -1 is not in list

In [166]:
matrix = [[1,2], [3,4]] # matrix

In [167]:
matrix

[[1, 2], [3, 4]]

In [168]:
matrix[0][0]

1

In [169]:
matrix[0][1]

2

In [170]:
type(matrix)

list

## 2. Tuples

Tuples are *inmutable* sequences, tipically used to store collections of heterogeneous data.

The main difference from lists is that lists are *mutable* while tuples are *inmutable*. Thus, tuples have not methods such as insert(), pop(), remove() or append() to change them.

Tuples are faster than lists. Its main usage is when the collection is constant, or you do not want it can be changed (write protected). 

Tuples can be converted into lists and vice-versa, with the methods list() and tuple().

In [171]:
tuple = ('a', 1)

In [172]:
tuple

('a', 1)

Tuples implement all the common [sequence operators](https://docs.python.org/3/library/stdtypes.html#typesseq-common), such as slicing, concatenation, len, etc.

In [173]:
tuple[::-1]

(1, 'a')

In [174]:
len(tuple)

2

In [175]:
tuple * 2 + ('b', 'c', 2.1, True)

('a', 1, 'a', 1, 'b', 'c', 2.1, True)

In [176]:
tuple[1]

1

In [177]:
tuple[1] = 2 # Error, tuples are inmutable

TypeError: 'tuple' object does not support item assignment

In [178]:
type(tuple)

tuple

## 3. Range

A [range](https://docs.python.org/3/library/stdtypes.html#range) represents an immutable sequence of numbers. Ranges are created with two constructors: *range(stop)* or *range(start, stop, [step])*. 

The default *start* is 0 and the default *step* is 1. It generates a sequence [start, stop)

In [179]:
r = range(10)

In [180]:
r

range(0, 10)

In [181]:
5 in r # check if a number is in a range

True

In [182]:
r[2] # Get a value

2

In [183]:
type(r)

range

In [184]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [185]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

# Licence

The notebook is freely licensed under under the [Creative Commons Attribution Share-Alike license](https://creativecommons.org/licenses/by/2.0/).  

© 2015 Carlos A. Iglesias, Universidad Politécnica de Madrid.