![](http://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/EscPolitecnica/EscUpmPolit_p.gif "UPM")

# Course Notes for Learning Intelligent Systems

Department of Telematic Engineering Systems, Universidad Politécnica de Madrid, © 2015 Carlos A. Iglesias

# Built-in Types: Sets and Mappings

* *Sets* are unordered bags of values
* *Dictionaries* are unordered bags of key-values pairs

A set object is an unordered collection of distinct objects. There are two built-in set types: **set** (mutable) and **frozenset** (inmutable).

A mapping object maps hashable values to arbitrary objects. Mappings are mutable objects. There is only one bultin mapping type: **dictionary**.

## 1. Sets

In [413]:
my_set = set() #create a set
my_set

set()

In [414]:
my_set.add(1) # add an element
my_set

{1}

In [415]:
my_set.add(2) # add another element

In [416]:
my_set

{1, 2}

In [417]:
my_set.add(3) # add another one
my_set

{1, 2, 3}

In [418]:
my_set.add(1) #try to add a repeated element
my_set

{1, 2, 3}

In [419]:
s2 = set(range(10)) # we can create a set from a range
s2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [420]:
l = ['a', 'a', 'b', 'c', 'c', 'c']

In [421]:
s3 = set(l) # if we create a set from a list, elements are not repeated
s3

{'a', 'b', 'c'}

In [422]:
len(s3)

3

In [423]:
s3.union(s2) # we can use set methods: union(), intersection(), difference(), ...

{0, 1, 2, 3, 4, 5, 'c', 6, 7, 8, 9, 'a', 'b'}

In [424]:
3 in my_set #check membership

True

In [425]:
type(s3)

set

## 2. Dictionaries

In [426]:
my_dictionary = {'key1': 1, 'key2': 2, 'key3': 3} # pairs of key-value mappings
my_dictionary

{'key1': 1, 'key2': 2, 'key3': 3}

In [427]:
my_dictionary['key1'] #retrieve a value given a key

1

In [428]:
my_dict = dict()
my_dict['key1'] = 1
my_dict['key2'] = 2
my_dict['key3'] = 3
my_dict # alternative way to create a dictionary

{'key1': 1, 'key2': 2, 'key3': 3}

In [429]:
my_dict == my_dictionary # check if both dictionaries are equal

True

In [430]:
my_dict2 = {'one': {'two': {'three': 'Nested dict'}}} #nested dictionary
my_dict2

{'one': {'two': {'three': 'Nested dict'}}}

In [431]:
my_dict2['one']['two']['three'] #access the value

'Nested dict'

Dictionaries have different methods, check them with Tab.

In [473]:
my_dict.keys() # in Python3 we get a View object that changes when the dictionary changes

dict_keys(['key2', 'key3', 'key1'])

In [478]:
list(my_dict.keys()) # we can convert it to a list, we see dicionaries are unordered

['key2', 'key3', 'key1']

In [474]:
my_dict.values()

dict_values([2, 3, 1])

In [476]:
list(my_dict.values())

[2, 3, 1]

In [479]:
type(my_dict)

dict

# Licence

The notebook is freely licensed under under the [Creative Commons Attribution Share-Alike license](https://creativecommons.org/licenses/by/2.0/).  

© 2015 Carlos A. Iglesias, Universidad Politécnica de Madrid.